/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.medieval-font {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.metamorphous-font {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

